#####Tags####
variable "env" {
  description = "Tag Envirolment"
  default = "{{ env }}"
}
variable "bu"{
  description = "Tag BU"
  default = "{{ tribe }}"
}
variable "namespace" {
  type        = string
  description = "Namespace (e.g. `eg` or `cp`)"
  default     = "{{ tribe }}"
}
variable "stage" {
  type        = string
  description = "Stage (e.g. `prod`, `dev`, `staging`, `infra`)"
  default     = "{{ env }}"
}
variable "name" {
  type        = string
  description = "Name  (e.g. `app` or `cluster`)"
  default      = "{{ prefix_stack_hostname }}s3{{ prefix_stack_name }}{{ env }}"
}
####Account Variable######
variable "aws_account_id" {
  description = "AWS Id Account"
  default = "{{ aws_account_id }}"
}
variable "region" {
  description = "Region that will be used in AWS"
  default = "{{ aws_region }}"
}
variable "access" { 
  default = "{{ aws_key_id }}"
  description = "access key aws account"
}
variable "secret" { 
  default = "{{ aws_access_key }}"
  description = "access key aws account"
}
variable "aws_region" {
  default = "{{ aws_region }}"
}
variable "zone_id" {
  default = ""
}

variable "acl" {
  type        = string
  description = "The canned ACL to apply. We recommend `private` to avoid exposing sensitive information"
  default     = "@@ACL@@"
}

variable "force_destroy" {
  type        = bool
  description = "A boolean string that indicates all objects should be deleted from the bucket so that the bucket can be destroyed without error. These objects are not recoverable"
  default     = "@@FORCE_DESTROY@@"
}

variable "versioning_enabled" {
  type        = bool
  description = "A state of versioning. Versioning is a means of keeping multiple variants of an object in the same bucket"
  default     = "@@VERSIONING_ENABLED@@"
}

variable "allowed_bucket_actions" {
  type        = list(string)
  default     = ["s3:PutObject", "s3:PutObjectAcl", "s3:GetObject", "s3:DeleteObject", "s3:ListBucket", "s3:ListBucketMultipartUploads", "s3:GetBucketLocation", "s3:AbortMultipartUpload"]
  description = "List of actions the user is permitted to perform on the S3 bucket"
}

variable "allow_encrypted_uploads_only" {
  type        = bool
  description = "Set to `true` to prevent uploads of unencrypted objects to S3 bucket"
  default     = "@@ENCRYPTED_ONLY@@"
}