# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

export AIRFLOW_HOME="{{ airflow_home_dir }}"
export AIRFLOW__CORE__EXECUTOR="LocalExecutor"