apiVersion: v1
kind: Config
clusters:
  - name: terraform-cluster-${name}
    cluster:
      certificate-authority-data: ${cluster_certificate}
      server: ${cluster_endpoint}
contexts:
  - name: terraform-context-${name}
    context:
      cluster: terraform-cluster-${name}
      user: terraform-user-${name}
current-context: terraform-context-${name}
users:
  - name: terraform-user-${name}
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: aws
        args: ["--region", "${exec_arg_region}", "eks", "get-token", "--cluster-name", "${exec_arg_cluster_name}", "--output", "json"${rolearn_params}]
