[Unit]
Description=Airflow scheduler daemon
After=network.target postgresql.service

[Service]
Environment="AIRFLOW_HOME={{ airflow_home_dir }}"
Environment="PATH=$PATH:$HOME:/usr/local/bin"
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/airflow scheduler
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target