
### Terraform ###
# Local .terraform directories
**/.terraform/*

kustomize/kubeflow/manifests/*
dev-hash.yaml
uat-hash.yaml
prod-hash.yaml
##Modules##
terraform-resources/*
# .tfstate files
*.tfstate
*.tfstate.*
*.tfvarsbackup

dev-hash.yaml
uat-hash.yaml
prod-hash.yaml

# Crash log files
crash.log

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*
*.plan
.terraform.lock.hcl

hash*.yaml

*.DS_Store
.DS_Store
*.zip
*.tar.gz
/.idea/
*/.idea
**/.idea/*